.cell {
    background: rgba(200, 200, 200, 0.5);
    border:1px solid white;
}


p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

p {
  width: 40em;
  padding-left: 20px;
}

h1 {
  width: 40em;
  padding-left: 20px;
}

h3 {
  width: 40em;
  padding-left: 20px;
  color: rgb(0, 153, 51)
}

.bgpurple {
    background-color: rgb(153,50,204)
}

/*img{
    width:100%;
    max-width:auto !important;
}*/

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}
